{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h2>Please sign in</h2>
        <label for="inputEmail" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}"  required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'security.login.password'|trans }}" name="_password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>
    </form>
{% endblock %}

{% block fos_user_login %}
    <form class="navbar-form navbar-right" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <input type="text" placeholder="{{ 'security.login.username'|trans }}" class="form-control" name="_username" value="{{ last_username }}" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="{{ 'security.login.password'|trans }}" class="form-control" name="_password" required>
        </div>
        <button type="submit" class="btn btn-success" name="_submit">{{ 'security.login.submit'|trans }}</button>
    </form>
{% endblock %}

